*{
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
};

.container-all{
    display: flex;
    flex-direction: column;
    width:90vw;
    justify-content: center;
    align-items: center;
    height:auto;
    overflow: auto;
  }
  .header-container{
    display:flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }
  h1{
      margin-left:10px;
      color:steelblue;
  }
  .btn{
    margin-right:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
    background-color: steelblue;
    color:white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .btn-icon{
      width:90%;
      height:90%;
  }
  .btn-submit{
    width:100%;
    border-radius:initial;
    height:30px;
    font-weight:700;
  }
  .keep-cards-container{
    display:flex;
    flex-direction: row;
    margin-left:5em;
    max-width:100%;
    width:900px;
    align-items: center;
    flex-wrap: wrap;
  }
  .keep-card{
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      box-shadow:2px 2px 4px lightgrey;
      padding:12px;
      padding-bottom:10px;
      margin:10px;
      max-width:200px;
      min-width:200px;
      min-height: 300px;
      justify-content: space-between;
  }
  .keep-card-body{
    color:grey;
    text-align:left;
    align-items: top;
  }
  .keep-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .add-card-form{
    display: flex;
    margin-left:5em;
    margin-bottom:2em;
    flex-direction:column;
    justify-content: top;
    max-width:70%;
    width:auto;
    height:150px;
    box-shadow: 1px 1px 10px grey;
  }
  .form-card-title{
    font-size:1.5em;
  }
  .form-card-body{
    font-size:1em;
    min-height:100px;
    border:none;
  }
  