@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  box-sizing: border-box;
  font-family: Lato, serif;
};

body{
  display: flex;
  flex-direction: row;
  width:100%;
  height:auto;
  justify-content: center;
}
.container-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width:600px;
    height:auto;
    margin:0 auto;
    padding:5px;
    box-shadow: 2px 2px 3px slategrey,-2px -2px 3px slategrey;
  }
  .header-container{
    display:flex;
    flex-direction: row;
    width:100%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
   
  }
  h1{
      margin-left:10px;
      color:steelblue;
  }
  .btn{
    margin-right:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40px;
    width:40px;
    background-color: steelblue;
    color:white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
   .btn-icon-plus{
      width:100%;
      height:100%;
  }
  .btn-submit{
    width:100%;
    border-radius:initial;
    height:30px;
    font-weight:700;
  }
  .btn-cancel{
    width:100%;
    border-radius:initial;
    height:30px;
    font-weight:700;
    background-color: slategrey;
  }
  .keep-cards-container{
    display:flex;
    flex-direction: column;
    margin-left:10px;
    max-width:100%;
    width:500px;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
  }
  .keep-cards-pinned{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .keep-cards-unpinned{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .keep-card{
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      box-shadow:2px 2px 4px lightgrey;
      padding:12px;
      padding-bottom:10px;
      margin:10px;
      max-width:200px;
      min-width:200px;
      min-height: 200px;
      border-left:4px solid steelblue;
      justify-content: space-between;
  }
  .keep-card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .keep-card-body{
    margin-top:0px;
    color:grey;
    text-align:left;
    align-items: top;
  }
  .keep-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .add-card-form, 
  .edit-card-form{
    z-index:2;
    display:flex;
    flex-direction:column;
    margin-left:2px;
    margin-bottom:15px;
    margin-top:12px;
    justify-content: center;
    align-items: left;
    max-width:100%;
    width:500px;
    height:150px;
    box-shadow: 2px 2px 10px grey;
  }

  .edit-card-form{
    height:200px;
  }
  .form-card-title{
    font-size:1.5em;
    max-width:100%;
  }
  .form-card-body{
    font-size:1em;
    min-height:100px;
    max-width:100%;
    border:none;
  }
  